.pending-homepage {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background: #e3e3e3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	.homepage-block {
		margin: 12px 42px 12px 42px;
		padding:15px;
		background: #1d3c91;
		color: #fff;
		.pending-detail {
			font-weight: 900;
		}
	}
	.homepage-block:hover {
		background: #172b63;

	}
}